<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net471" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="18.4.0.41" targetFramework="net471" />
  <package id="Syncfusion.Xamarin.Core" version="18.4.0.41" targetFramework="net471" />
  <package id="Syncfusion.Xamarin.Core.WPF" version="18.4.0.41" targetFramework="net471" />
  <package id="Syncfusion.Xamarin.SfSchedule" version="18.4.0.41" targetFramework="net471" />
  <package id="Syncfusion.Xamarin.SfSchedule.WPF" version="18.4.0.41" targetFramework="net471" />
  <package id="WpfLightToolkit" version="1.0.2" targetFramework="net471" />
  <package id="Xamarin.Forms" version="4.5.0.617" targetFramework="net471" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.5.0.617" targetFramework="net471" />
</packages>